---
layout: default
---

<div id="help-header" class="full-width">
  <div class="wrapper">
    <h1>A little help from your friends...</h1>
  </div>
</div>
<div id="help-boxes" class="full-width">
  <div class="wrapper">
    <div class="help-box">
      <h2><a href="articles/getting-started.html">Getting Started</a></h2>
      <p>Your go to guide for how to setup vero and start sending awesome email campaigns.</p>
      <a href="articles/getting-started.html">Read the guide</a>
    </div>
    <div class="help-box">
      <h2><a href="http://getvero.com/api">Developer API</a></h2>
      <p>Everything you need to know to get the most out of Vero in Javascript, Ruby, iOS & more.</p>
      <a href="http://getvero.com/api">Developer API</a>
    </div>
    <div class="help-box">
      <h2><a href="mailto:support@getvero.com">Contact Support</a></h2>
      <p>Whatever issue you have, we've got your back.</p>
      <a href="mailto:support@getvero.com">support@getvero.com</a>
    </div>
  </div>
</div>
<div class="home main-sidebar right-to-left">
  <div class="sidebar-wrapper">
    <div class="help-search">
      <input type="search" class="js-algolia__input" placeholder="Search the help docs"/>
      <span class="fa fa-search"></span>
    </div>
    <div class="white-block" id="categories">
      <h3 class="gray-block-title">Categories</h3>
      <ul class="unstyled-list">
        {% assign groups = site.articles | group_by: "categories" | sort: "name" %}
        {% for group in groups %}
          {% if group.name != "" %}
            <li><a href="#{{ group.name | downcase }}">{{ group.name | capitalize }}</a></li>
          {% endif %}
        {%endfor%}
      </ul>
    </div>
    <div id="sp-status-block" class="white-block">
      <h3 class="gray-block-title">Vero Status</h3>
      <div id="sp-status">
      </div>
      <ul id="sp-incidents" class="unstyled-list">
      </ul>
    </div>
  </div>
  <div class="main-wrapper algolia__initial-content js-algolia__initial-content">
    <div id="getting-started">
      {% assign items = site.articles | where: "common_issues", true | sort: 'title' %}
      <h2>Common Issues</h2>
      <ul class="article-list unstyled-list">
        {% for item in items %}
          <li>
            <a class="article-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
          </li>
        {%endfor%}
      </ul>
    </div>

    <div id="all">
      {% assign groups = site.articles | group_by: "categories" | sort: "name" %}
      {% for group in groups %}
        {% unless group.name == "" %}
          <h2 id="{{ group.name | downcase }}">{{ group.name | capitalize }}</h2>
          <ul class="article-list unstyled-list">
            {% assign items = group.items | sort: 'title' %}
            {% for item in items %}
              {% unless item.hide == true %}
                <li>
                  <a class="article-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        {% endunless %}
      {% endfor %}
    </div>
    <div class="support-block white-block">
      <h2 class="support-title">Get in touch</h2>
      <p>Didn't find what you were looking for? Email us at: <a href="#">support@getvero.com</a></p>
    </div>
  </div>
  <div class="algolia__search-content js-algolia__search-content">
    <h2 class="page-title">Search Results:</h2>
    <div class="articles algolia__results"></div>
  </div>
</div>
