---
layout: default
---

<div class="home">

  <h1 class="page-heading">Docs</h1>

  <!-- <h2>Common issues</h2>
  <ul class="article-list">
    {% for article in site.articles %}
      {% if article.categories contains 'common issues' %}
        <li>
          <a class="article-link" href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul> -->

<!--   <ul class="article-list">
    {% for article in site.articles %}
      <li>
        <a class="article-link" href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
      </li>
    {% endfor %}
  </ul> -->

  {% assign groups = site.articles | group_by: "categories" %}
  {% for group in groups %}
    <h2>{{ group.name }}</h2>
    <ul class="article-list">
      {% for item in group.items %}
        <li>
          <a class="article-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
        </li>
      {%endfor%}
    </ul>
  {%endfor%}

</div>
