---
layout: default
---

<div class="home">

  <h1 class="page-heading">Docs</h1>

  <h2>Common issues</h2>
  <ul class="article-list">
    {% for article in site.articles %}
      {% if article.categories contains 'common issues' %}
        <li>
          <a class="article-link" href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <!-- <ul class="article-list">
    {% for article in site.articles %}
      <li>
        <a class="article-link" href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
      </li>
    {% endfor %}
  </ul> -->

</div>
