<footer class="site-footer mti_font_element">
  <div class="wrap mti_font_element">
    <div class="main-footer mti_font_element">
      <ul class="col mti_font_element">
        <li class="mti_font_element">&nbsp;</li>
      </ul>
      <ul class="col mti_font_element">
        <li class="header mti_font_element">Resources</li>
        <li class="mti_font_element"><a href="http://www.getvero.com/pricing" class="mti_font_element">Developers</a></li>
        <li class="mti_font_element"><a href="http://www.getvero.com/api" class="mti_font_element">API Reference</a></li>
        <li class="mti_font_element"><a href="http://www.getvero.com/resources" target="_blank" class="mti_font_element">Blog</a></li>
      </ul>
      <ul class="col mti_font_element">
        <li class="header mti_font_element">Company</li>
        <li class="mti_font_element"><a href="http://www.getvero.com/jobs" class="mti_font_element">Jobs</a></li>
        <li class="mti_font_element"><a href="http://status.getvero.com" class="mti_font_element">Status</a></li>
        <li class="mti_font_element"><a href="http://www.getvero.com/terms-of-service" class="mti_font_element">Terms of Service</a></li>
        <li class="mti_font_element"><a href="http://www.getvero.com/privacy" class="mti_font_element">Privacy Policy</a></li>
      </ul>
      <ul class="col mti_font_element">
        <li class="header mti_font_element">Say Hello</li>
        <li class="mti_font_element"><a href="mailto:support@getvero.com" class="mti_font_element">Email Support</a></li>
        <li class="mti_font_element"><a href="http://www.getvero.com/email-marketing-demo" class="mti_font_element">High volume sender?</a></li>
        <li class="mti_font_element"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.3476cd70032ff6b94ecc9ea63ab78a8b.en.html#_=1442458125654&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=getvero&amp;show_count=false&amp;show_screen_name=true&amp;size=l" style="position: static; visibility: visible; width: 140px; height: 28px;" data-screen-name="getvero"></iframe>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
      </ul>
    </div>
  </div>
</footer>