<footer class="site-footer mti_font_element">
  <div class="wrap mti_font_element">
    <div class="main-footer mti_font_element">
      <ul class="col mti_font_element">
        <li class="mti_font_element">&nbsp;</li>
      </ul>
      <ul class="col mti_font_element">
        <li class="mti_font_element">&nbsp;</li>
      </ul>
      <ul class="col mti_font_element">
        <li class="mti_font_element"><a href="http://www.getvero.com/pricing" class="mti_font_element">Developers</a></li>
        <li class="mti_font_element"><a href="http://www.getvero.com/api" class="mti_font_element">API Reference</a></li>
      </ul>
      <ul class="col mti_font_element">
        <li class="mti_font_element"><a href="http://www.getvero.com/terms-of-service" class="mti_font_element">Terms of Service</a></li>
        <li class="mti_font_element"><a href="http://www.getvero.com/privacy" class="mti_font_element">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>