<footer class="site-footer">
  <div class="wrap">
    <div class="main-footer">
      <ul class="col">
        <li><a href="http://www.getvero.com/pricing">Return to getvero.com</a></li>
      </ul>
      <ul class="col">
        <li>&nbsp;</li>
      </ul>
      <ul class="col">
        <li><a href="http://www.getvero.com/pricing">Developers</a></li>
        <li><a href="http://www.getvero.com/api">API Reference</a></li>
      </ul>
      <ul class="col">
        <li><a href="http://www.getvero.com/terms-of-service">Terms of Service</a></li>
        <li><a href="http://www.getvero.com/privacy">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>