---
layout: default
---
<div class="help-semi-nav">
  <div class="content-wrapper">
   <a class="back-link" href="{{ site.baseurl }}/"><span class="fa fa-long-arrow-left"></span> Back to Help</a>
  </div>
</div>
<div class="article single">
  <div class="main-sidebar">
    <article class="main-wrapper  algolia__initial-content js-algolia__initial-content">
      <div><span class="categories">{{ page.categories }}</span></div>
      {{ content }}
      <div class="support-block white-block">
        <h3>Didn't find what you were looking for?</h3>
        <p>Get in touch, we're always happy to help. Email us at: <a href="#">support@getvero.com</a></p>
      </div>
      <div class="open-block white-block">
        <h3>Improve our docs</h3>
        <p>Our help docs are open to everyone, help us make them better by contributing on <span class="fa fa-github"></span><a href="https://github.com/getvero/getvero.github.io"> Github</a> and you'll be our new best friend!</p>
      </div>
    </article>
    <div class="algolia__search-content js-algolia__search-content">
      <h1 class="page-title">Search</h1>
      <div class="articles algolia__results"></div>
    </div>
    <div class="sidebar-wrapper">
      <div class="help-search">
        <input type="text" class="js-algolia__input" placeholder="Search the help docs"/>
        <span class="fa fa-search"></span>
      </div>
      <div class="white-block">
        <h3 class="gray-block-title">Related Articles</h3>
        {% if page.getting_started == true %}
          {% assign items = site.articles | where: "getting_started", true %}
        {% elsif page.common_issues == true %}
          {% assign items = site.articles | where: "common_issues", true %}
        {% else %}
          {% assign items = site.articles | where: "categories", page.categories | sort: "name" %}
        {% endif %}
        <ul class="unstyled-list">
          {% for item in items %}
            {% unless item.hide == true or item.title == page.title %}
              <li>
                <a class="article-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
